:root{ 
    --cow: url(https://cdn-icons-png.flaticon.com/512/3319/3319363.png?ga=GA1.1.1699188909.1702300763&);
    --airplane: url(https://cdn-icons-png.flaticon.com/512/4736/4736265.png?ga=GA1.1.1699188909.1702300763&);
    --tractor: url(https://cdn-icons-png.flaticon.com/512/7291/7291823.png?ga=GA1.1.1699188909.1702300763&);
    --disc: url(https://cdn-icons-png.flaticon.com/512/8085/8085593.png?ga=GA1.1.1699188909.1702300763&amp;);
    --shot: url(https://cdn-icons-png.flaticon.com/512/1008/1008424.png?ga=GA1.1.1699188909.1702300763&);
    --background: url(https://thumbs.dreamstime.com/b/bit-pixel-art-illustration-farm-windmill-background-mountains-colorful-simple-vector-horizontal-retro-277597590.jpg?w=1400%201400w);

}

html{
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    position: absolute;
    overflow: hidden;
    width: 800px;
    height: 360px;
    background-size: contain;
    /* background-repeat: no-repeat; */
    
    margin: 100px;
    align-items: center ;
    justify-content: center;
    background-color: blueviolet;
    background-image: var(--background);
    filter: invert(0.9);

}


#init{
    filter: invert();
    background-color: rgb(114, 17, 170) ;
    color: rgb(197, 198, 199);
    width: 300px;
    height: 180px;
    text-align: center;
    border: 2px solid rgb(107, 106, 120);
    border-radius: 20px;
}

button{
    background-color: rgb(27, 27, 27);
    border: 1px solid rgba(197, 198, 199, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: rgb(197, 199, 199);
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 6px 16px;
    word-wrap: break-word;
}

button:hover {
    background-color: rgb(48, 101, 150);
    color: rgb(26, 29, 37);
    transition-duration: 0.1s;
}

div{
    border: rgb(0, 230, 0) dashed 3px;
}

.tractor{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-image: var(--tractor);
    background-size: cover;
    filter: invert(1);
    /* transform: scaleX(-1); */
}

#player{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    bottom: 150px;
    background-image: var(--disc);
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(1);
}

.airplane{
    width:70px;
    height: 70px;
    position: absolute;
    right:0px;
    bottom: 250px;
    background-image: var(--airplane);
    background-size: cover;
    filter: invert(1);
}

.cow{
    width: 85px;
    height: 95px;
    position: absolute;
    bottom: 3px;
    background-image: var(--cow);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    filter: invert(1);
    transform: scaleX(-1);
}

@keyframes move{
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(5px);
    }
}

.-fly{
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-name: move;
    animation-timing-function: ease;
}

.projectile{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 700px;
    bottom: 300px;
    background-image: var(--shot);
    background-size: cover;
    filter: invert(1);
    transform: scale(1.2, 0.5) rotate(-90deg);
}

@keyframes tractorMovement{
    0% {
        /* transform: scaleX(-1); */
        transform: rotate(2deg) scaleX(-1);
    }
    50%{
        /* transform: scaleX(-1); */
        transform: rotate(0deg) scaleX(-1);
    }
    100%{
        /* transform: scaleX(-1); */
        transform: rotate(-2deg) scaleX(-1);
    }
}

.-movement{
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-name: tractorMovement;
    animation-timing-function: ease;
}

@keyframes explosion{
    0% {
        background-image: url(https://cdn-icons-png.flaticon.com/512/5643/5643268.png?ga=GA1.1.1699188909.1702300763&);
        transform: scale(0.25);
    }
    10%{
        background-image: url(https://cdn-icons-png.flaticon.com/512/9856/9856622.png?ga=GA1.1.1699188909.1702300763&);
        transform: scale(0.5);
    }
    17%{
        background-image: url(https://cdn-icons-png.flaticon.com/512/4061/4061383.png?ga=GA1.1.1699188909.1702300763&);
        transform: scale(1);
    }
    20%{
        background-image: url(https://cdn-icons-png.flaticon.com/512/4061/4061383.png?ga=GA1.1.1699188909.1702300763&);
        transform: scale(1);
    }
    38%{background-image: none;}
    /* 100%{background-image: none;} */
}

.-boom{
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-name: explosion;
    animation-timing-function: linear;
}

@keyframes abduction {
    0% {
        background-image: var(--cow);
        transform: scale(1) rotate(90deg) translateY(-20px);
    }
    15%{
        background-image: var(--cow);
        transform: scale(0.7) rotate(180deg) translateY(-40px);
    }
    25%{
        background-image: var(--cow);
        transform: scale(0.5) rotate(275deg) translateY(-60px);
    }
    35%{
        background-image: var(--cow);
        transform: scale(0.25) rotate(360deg) translateY(-80px); 
    }
    36%{background-image: none;}
    100%{background-image: none;}
}

.-abducted{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: abduction;
    animation-timing-function: linear;
}

@keyframes explosion2{
    0% {
        background-image: url(https://cdn-icons-png.flaticon.com/512/5643/5643268.png?ga=GA1.1.1699188909.1702300763&);
        transform: scale(0.25);
    }
    5%{
        background-image: url(https://cdn-icons-png.flaticon.com/512/4061/4061383.png?ga=GA1.1.1699188909.1702300763&);
        transform: scale(1);
    }
    10%{
        background-image: url(https://cdn-icons-png.flaticon.com/512/4061/4061383.png?ga=GA1.1.1699188909.1702300763&);
        transform: scale(1);
    }
    15%{background-image: none;}
    /* 100%{background-image: none;}  */
}

.-baam{
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-name: explosion2;
    animation-timing-function: linear;
}